body {
  margin: 0px;
  padding: 5px;
  font-size: 40px;
  overflow: hidden;
  font-family: "Gloria Hallelujah", "Caveat Brush", cursive;

  background:
    radial-gradient(circle at top, rgba(255,220,180,0.6), transparent 60%),
    radial-gradient(circle at bottom, rgba(255,180,200,0.4), transparent 60%),
    linear-gradient(180deg, #fdf2e9 0%, #fbe4d8 100%);
}

p {
  margin: 8px;
  padding-left: 10px;
  color: hotpink;
}

#toggle {
  display: none;
}

.diary-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.diary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.diary img {
  width: 300px;
  height: auto;
}

.diaryopen {
  position: absolute;
  top: 51%;
  left: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.diaryopen img {
  width: 510px;
  height: auto;
}

#toggle:checked ~ .diary-wrapper .diary {
  opacity: 0;
}

#toggle:checked ~ .diary-wrapper .diaryopen {
  opacity: 1;
}

.notepage-link {
  position: absolute;
  bottom: -400px;
  opacity: 0;
  transform: translateY(0);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.notepage {
  width: 600px;
  display: block;
}

#toggle:checked ~ .diary-wrapper .notepage-link {
  opacity: 1;
  transform: translateY(-350px);
  transition-delay: 0.6s;
}