body {
  margin: 25;
  font-size: 50px;
  padding: 5px;
  overflow: hidden;
  background:
    radial-gradient(circle at top, rgba(255,220,180,0.6), transparent 60%),
    radial-gradient(circle at bottom, rgba(255,180,200,0.4), transparent 60%),
    linear-gradient(180deg, #fdf2e9 0%, #fbe4d8 100%);
  font-family: "Gloria Hallelujah", "Caveat Brush", cursive;
}

p {
  margin: 0;
  color: hotpink;
}

#toggle {
  display: none;
}

.diary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diary img {
  width: 300px;
  height: auto;
}
.diaryopen img {
  width: 510px;
  height: auto;
}
.diaryopen {
  position: absolute;
  top: 51%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.diary {
  opacity: 1;
}

.diaryopen {
  opacity: 0;
}

#toggle:checked ~ .diary-wrapper .diary {
  opacity: 0;
}

#toggle:checked ~ .diary-wrapper .diaryopen {
  opacity: 1;
}


.diary-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
}

.notepage {
  position: absolute;
  width: 600px;
  bottom: -400px;              
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  transform: translateY(0);
}

#toggle:checked ~ .diary-wrapper .notepage {
  opacity: 1;
  transform: translateY(-350px);   
  transition-delay: 0.6s;          
}
