body {
  background: lightblue;
  height: 100vh;
  overflow: hidden;
}


.diary {
  display: flex;
  justify-content: center;  
  align-items: center; 
  min-height: 100vh;  
}
.diary img {
	width: 300px;
	height: auto;
}