body {
  background: lightblue;
  margin: 25;
  font-size: 50px;
  padding: 5px;

}

p {
  margin: 0;
  color: hotpink;
}

.diary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.diary img {
  width: 300px;
  height: auto;
}